server {

  client_max_body_size 100M;

  listen 80;

  root /var/www/{{ hostname }};
  index index.php index.html index.htm;

  server_name {{ hostname }}.dev1;

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ \.php$ {
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }

}
